
body{
    font-size: 11px;
}
question > div {
    margin-top: 20px;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
}

h2{
    font-size: 22px;
}

.response{
    border: 1px solid lightslategray ;
    height: 50px;
}

/* ... Printing Operations ... */
@page {
  size: A4;
  margin: 2.54cm, 2.54cm, 2.54cm, 2.54cm;
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  /* ... the rest of the rules ... */

}