body { 
    padding-top: 70px; 
}

.slice-div-blue {
    background-color: #90CAF9;
    color: #2c3e50;
}
.slice-div-purple {
    background-color: #B39DDB;
     color: #2c3e50;
}
.slice-div-red {
    background-color: #EF9A9A;
    color: #2c3e50;
}
.slice-div-green {
    background-color: #C5E1A5;
     color: #2c3e50;
}

.center-div
{
  width: 400px;
  height: 400px;
}
.row {
  width: 100%;
  margin: 0 auto;
}
.block {
  width: 400px;
  display: inline-block;
}